<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <h3><a href="/">Instagram Lab</a></h3>
    </nav>
    {{{body}}}

    {{#if user}}
      <footer>
        <div class="footer-container">
          <a href="/">Home</a>
          <a href="/post/create">New Post</a>
          <a href="/profile">Profile</a>
          <form action="/sign-out" method="POST">
            <button>Sign Out</button>
          </form>
        </div>
      </footer>
    {{/if}}
  </body>
</html>
