<form action="/sign-in" method="POST">
  <input type="email" id="input-email" name="email" placeholder="Email" />
  <input type="password" name="password" id="input-password" placeholder="Password" />
  <button>Log In</button>
</form>
